@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = CurrentPage.Site();
}

<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h5>about us</h5>
                <p>
                    we are expert in Umbraco CMS,Magento E-commerce and Vtiger CRM.
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <h5>Sitemap</h5>
                <div class="row">
                    @if (home.Children.Where("Visible").Any())
                    {
                        @* For each child page under the home node, where the property umbracoNaviHide is not True *@
                    foreach (var childPage in home.Children.Where("Visible"))
                    {
                        <div class="col-md-6">
                            @childPage.Name
                            @if (childPage.Children.Where("Visible").Any())
                            {
                                @childPages(childPage.Children)
                            }
                        </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <h5>Contact info</h5>
                <ul class="contacts-list">
                    <li>
                        <p><i class="icon icon-House"></i>964 Lalbahadur shastri nagar,BDA,11th block,10th phase,Gotigere post,anjanapura, Banglore  India 560083</p>
                    </li>
                    <li>
                        <p><i class="icon icon-Phone2"></i>USA - (+1) 5032788794</p>
                    </li>
                    <li>
                        <p><i class="icon icon-Phone2"></i>India - 8460388974</p>
                    </li>
                    <li>
                        <p><i class="icon icon-Mail"></i><a href="mailto:info@biztechnosys.com.com">info@biztechnosys.com</a> </p>

                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">

            </div>
        </div>
    </div>
</section>


@helper childPages(dynamic pages)
{
    @* Ensure that we have a collection of pages *@
if (pages.Any())
{

    <ul class="footer-nav">
        @foreach (var page in pages.Where("Visible"))
        {

            <li class="@(page.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                <a href="@page.Url">@page.Name</a>
            </li>
        }
    </ul>
}
}


